menu {
  position: sticky;
  top: 0;
  z-index: 1;
}

menu .container {
  list-style: none;
  padding: 1rem 0;
  background-color: rgb(54, 54, 54);
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

menu div {
  display: flex;
}

menu a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 1rem;
}

menu a:hover {
  color: rgb(150, 150, 150);
}

/* MEDIA QUERIES ------------------------- */
/* Under 768px ------------- */
@media (max-width: 768px) {
  menu {
    display: none;
  }
}
